PORT=9080
DB_HOST=152.136.108.55
DB_PORT=3306
DB_USER=root
DB_PASSWORD=chongqingoenggang123.
DB_NAME=cqxcx
MYSQL_HOST=152.136.108.55
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=chongqingoenggang123.
MYSQL_DATABASE=CQXCX
MYSQL_CONNECTION_LIMIT=10
UPLOAD_DIR=uploads
PUBLIC_BASE_URL=https://shanlan.xyz
CAPTURES_DIR=../captures
WECHAT_APP_ID=your_mini_program_appid
WECHAT_APP_SECRET=your_mini_program_appsecret
